.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}

th{
  text-align: center;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  width: auto;
  height: 16px;
}
button.circle {
  border: none
}
.circle {
  background: #456BD9;
  clip-path: circle(50%);
  height: 5em;
  width: 5em;
  margin-right: 3em;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
